*{
   box-sizing: border-box;
    
}
body{
    color: #222;
    

}

main{
    
    
    
    margin: 0 auto
}

header{
    
    padding:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    background-color: #222;
    color: #c3c3c3;
}
header a{
    max-width: 90%;
    text-decoration: none;
    color:inherit;
}
header a.logo{
    
    display: flex;
    align-items: center;
    font-weight: bold;
}

header nav{
    display: flex;
    gap:15px;
}

.cont{
    margin-left: 15px;

}
form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    
}
input{
    
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 10px;
    border-style:ridge ;
    border-color: rgb(146, 29, 29);
    border-width: 5px;
    
    background-color: rgb(171, 214, 220);
}
button.btnlog{
margin-top: 10px;
  width: 90%;
  height: 90%;
  color: #ffffff;
  background-color: #1b8f3e;
  border-style:solid ;
  border-width: 2px;
  border-radius: 5px;
  
}
